@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Arrange timetable";
}
<div class="container">
	<ul class="list-inline">
		@foreach (var subject in ViewBag.Subjects)
			{
				@* <div class="mt-2 btn btn-primary mr-1"></div> *@
		
				<li class="list-inline-item">
					<form method="post" >
						<input type="hidden" name="subjectId" value="@subject.SubjectId" />
					<button type="submit" class="mt-2 btn btn-primary" asp-controller="Timetable" asp-action="Arrange">@subject.SubjectId: @subject.SubjectName</button>
					</form>
				</li>
			}
	</ul>
</div>
<div>
	@foreach(var subject in ViewBag.Class)
	{
		<div>@subject.SubjectId: @subject.ClassId</div>
	}
</div>
<div class="container">
	<div class="timetable-img text-center">
		<img src="img/content/timetable.png" alt="">
	</div>
	<div class="table-responsive">
		<table class="table table-bordered text-center">
			<thead>
				<tr class="bg-light-gray">
					<th class="text-uppercase">
						Time
					</th>
					<th class="text-uppercase">Monday</th>
					<th class="text-uppercase">Tuesday</th>
					<th class="text-uppercase">Wednesday</th>
					<th class="text-uppercase">Thursday</th>
					<th class="text-uppercase">Friday</th>
					<th class="text-uppercase">Saturday</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-middle">06:00</td>
				</tr>
				<tr>
					<td class="align-middle">07:00</td>
				</tr>
				<tr>
					<td class="align-middle">08:00</td>
				</tr>
				<tr>
					<td class="align-middle">09:00</td>
				</tr>
				<tr>
					<td class="align-middle">10:00</td>
				</tr>
				<tr>
					<td class="align-middle">11:00</td>
				</tr>
				<tr>
					<td class="align-middle">12:00</td>
				</tr>
				<tr>
					<td class="align-middle">13:00</td>
				</tr>
				<tr>
					<td class="align-middle">14:00</td>
				</tr>
				<tr>
					<td class="align-middle">15:00</td>
				</tr>
				<tr>
					<td class="align-middle">16:00</td>
				</tr>
				<tr>
					<td class="align-middle">17:00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
